/* =============================================================================
           Small Screen - Tablate/Others
 ============================================================================= */
@media screen and (min-width: 768px) and (max-width: 991px) {

.logo-area {
    padding: 5px;
    margin: 15px 5px;   
}
.logo-right {
    padding: 5px;
    margin-top: 35px;
    margin-bottom: 15px;
}
.logo-right h2 {  
    font-size: 40px;
    line-height: 25px;
}
.logo-right a {  
    padding-bottom: 5px;  
}
.footer-area {   
    padding: 80px 0px;
}
.footer-top-area {
    padding: 40px 15px;
}


}

/* =============================================================================
            Xtra Small Screen - Tablate
 ============================================================================= */
@media screen and (min-width: 576px) and (max-width: 767px) {	

.header-area ul li a {  
    padding: 10px 15px;
    font-size: 28px;
}
.logo-area {
    padding: 5px;
    margin: 5px;
    margin-top: 15px;
}
.logo-right {
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.logo-right h2 {  
    font-size: 35px;
    color: #000000;
    line-height: 22px;
}
.logo-right a {  
    padding-bottom: 5px;  
}
.main-left-part3 {
    width: 100%;
    min-height: 100px;
}
.selulify-awards {
    padding: 15px 0px 15px 15px;
}
.selulify-awards h2 {
    line-height: 18px;
    font-size: 22px;
    color: #000000;
}
.awards-para {
    padding: 5px 0px;
}
.left3-country {
    padding: 80px 5px;
}
.left3-country ul li a {  
    font-size: 30px;
    line-height: 30px;
}
.footer-area {   
    padding: 70px 0px;
}
.footer-top-area {
    padding: 30px 15px;
}

}
/* =============================================================================
            Xtra Small Screen - Mobile Phone
 ============================================================================= */
@media screen and (max-width: 576px) {

.header-area ul li a {  
    padding: 10px 5px;
    font-size: 20px;
}
.logo-area {
    padding: 5px;
    margin: 5px;
}
.logo-right {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.logo-right h2 {  
    font-size: 35px;
    color: #000000;
    line-height: 22px;
}
.logo-right a {  
    padding-bottom: 5px;  
}
.footer-area {   
    padding: 50px 0px;
}
.footer-top-area {
    padding: 25px 15px;
}
.footer-top-area h2 {
    font-size: 45px;
    line-height: 35px;
}
.footer-part-bottom,
.footer-part-meddle {
    margin: 15px 0px;
}

}