/*
===========================
    Header Part Start
===========================
*/
@font-face {
   font-family: New-Grotesk-Square;
   src: url(webfonts/New-Grotesk-Square-FOUR.woff2);
}
@font-face {
   font-family: GT-America-Standard-Regular;
   src: url(webfonts/GT-America-Standard-Regular.woff2);
}
body {	
    font-family: 'GT-America-Standard-Regular', sans-serif;
    font-size: 17px;
    font-weight: 400;    
	background: #fff;
	color: #000000;	
}
h2,h3 {
    font-family: New-Grotesk-Square;
    text-transform: uppercase;
}
a:hover {text-decoration: none;}
.scrolltotop {
    width: 40px;
    height: 40px;
    background: black;
    display: inline-block;
    padding: 5px 0px 0px 13px;
    font-size: 20px;
    color: #ffffff;
    position: fixed;
    right: 5px;
    bottom: 5px;
    display: none;
}
.scrolltotop:hover {   
    color: #ffffff;
}
.header {
   background: #fff;
}
.header-area ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    float: right;
}
.header-area:after {
    content: '';
    display: block;
    clear: both;
}
.header-area ul li {
    float: left;
}
.header-area ul li a {
    text-decoration: none;
    color: #000000;
    display: block;
    padding: 15px 16px;
    font-size: 30px;
    font-family: New-Grotesk-Square;
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
}
.header-area ul li a:hover {
    color: #555;
}
/*
===========================
    main-area Start
===========================
*/
.logo-area {
    padding: 20px 0px 20px 20px;
    margin: 30px;
}
.logo-right {
    padding: 20px 20px 20px 0px;
    margin-top: 40px;
}
.logo-right h2 {
    font-family: New-Grotesk-Square;
    font-size: 70px;
    color: #000000;
    line-height: 50px;
}
.logo-right a {
    color: #000;
    padding-bottom: 10px;
    border-bottom: 2px solid #7FFFD4;
   font-family: GT-America-Standard-Regular;
}
/*
===========================
    main-left-part3 Start
===========================
*/
.main-right-part2 img {
    cursor: pointer;
}
.main-left-part3 {
    width: 100%;
    min-height: 300px;
    overflow: hidden;
}
.selulify-awards {
    padding: 30px 30px 30px 70px;
}
.selulify-awards p:first-child {
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.selulify-awards h2 {
    line-height: 28px;
    font-size: 38px;
    color: #000000;
}
.awards-para {
    padding: 20px 0px 10px 0px;
}
.selulify-awards a {
    color: #000;
    padding-bottom: 10px;
    border-bottom: 2px solid #7FFFD4;
   font-family: GT-America-Standard-Regular;
}
.left3-country {
    padding: 80px 5px;
    background: #000;
    height: 100%;
    display: flex;
    justify-content: center;
}
.left3-country ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.left3-country ul li {
    display: block;
    line-height: 45px;
}
.left3-country ul li a {
    text-decoration: underline;
    font-size: 45px;
    display: block;
    color: #fff;
    font-family: New-Grotesk-Square;
}
.main-left-part2 img,
.main-left-part4 img,
.left5-img img,
.main-right-part1 img,
.main-right-part2 img,
.main-right-part3 img {
    width: 100%;
}
.main-left-part3,
.main-left-part5,
.main-right-part4,
.left5-img {
    overflow: hidden;
}

/*
===========================
    footer-area Start
===========================
*/
.footer-area {
    background: #000000;
    color: #ffffff;
    padding: 100px 0px;
}
.footer-top-area {
    padding: 50px 15px 50px 60px;
}
.footer-top-area h2 {
    color: #fff;
    font-size: 75px;
    line-height: 55px;
}
.footer-part {
    padding: 15px;
}
.footer-part-bottom,
.footer-part-meddle {
    margin: 30px 0px;
}
.footer-part h3 a {
    color: #fff;
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
}
.footer-part h3 a:hover {
    color: #555;
}
.modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: none;
    border-top-left-radius: none;
    border-top-right-radius: none;
}
.modal-body {
    width: 100%;
    padding: 0px;
    border-bottom: none;
}
.modal-content {
    background: transparent!important;
    border: none;
}

@media(min-width: 1600px){
 html{
  background: #f3f3f3;
 }
 body{
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
 }